@model GitAspx.ViewModels.TreeViewModel
@using GitAspx;
@using GitAspx.Properties;
@{ViewBag.Title = Model.Title;}

<div class="repositoryContainer">
    <table style="width: 100%">
        <tr>
            <td>
                <div class="switchBar">
                    <ul>
                        <li>
                            <a href="javascript:void()">@Resources.Branches (@Model.Repository.Branches.Count)</a>
                            @if (Model.Repository.Branches.Any()) {
                                <ul>
                                @foreach (var lkvpBranch in Model.Repository.Branches) {
                                    <li><a href="@Url.Content("~/" + Model.Project + "/tree/" + lkvpBranch.Key + Model.PathSegments.JoinLeft("/"))" title="@lkvpBranch.Key">@lkvpBranch.Key</a></li>
                                }
                                </ul>
                            }
                        </li>
                        <li>
                            <a href="javascript:void()">@Resources.Tags (@Model.Repository.Tags.Count)</a>
                            @if (Model.Repository.Tags.Any()) {
                                <ul>
                                @foreach (var lkvpTag in Model.Repository.Tags) {
                                    <li><a href="@Url.Content("~/" + Model.Project + "/tree/" + lkvpTag.Key + Model.PathSegments.JoinLeft("/"))" title="@lkvpTag.Key">@lkvpTag.Key</a></li>
                                }
                                </ul>
                            }
                        </li>
                        <li>
                            @{var liLimit = 1000;}
                            @{var liAncestors = Model.Commit.Ancestors.CountWithLimit(liLimit);}
                            <a href="javascript:void()">@Resources.Parents (@(liAncestors > liLimit ? liLimit + "+" : liAncestors.ToString()))</a>
                            @if (Model.Commit.Ancestors.Any()) {
                                <ul>
                                @foreach (var loCommit in Model.Commit.Ancestors.Take(liLimit)) {
                                    <li>
                                        <a href="@Url.Content("~/" + Model.Project + "/tree/" + loCommit.Hash + Model.PathSegments.JoinLeft("/"))"
                                            title="@loCommit.Hash"><span style="font-size: 10px; color: green">@loCommit.CommitDate.ToPrettyDateString(): </span>@loCommit.Message.Shorten(50)
                                        </a>
                                    </li>
                                }
                                </ul>
                            }
                        </li>
                        <li>
                            <a href="javascript:void()">@Resources.Cultures (5)</a>
                            <ul>
                                <li><a href="@Url.Content("~/settings/Culture/en-US")">English</a></li>
                                <li><a href="@Url.Content("~/settings/Culture/zh-TW")">繁體中文</a></li>
                                <li><a href="@Url.Content("~/settings/Culture/zh-CN")">简体中文</a></li>
                                <li><a href="@Url.Content("~/settings/Culture/ja-JP")">日本語</a></li>
                                <li><a href="@Url.Content("~/settings/Culture/de-DE")">Deutsch</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void()">@Resources.Settngs</a>
                            <ul>
                                <li>
                                    <a href="@Url.Content("~/settings/ShowTreeNodeDetails/" + !Model.WebBrowsingSettings.ShowTreeNodeDetails)">
                                        @(Model.WebBrowsingSettings.ShowTreeNodeDetails ? Resources.HideTreeNodeDetails : Resources.ShowTreeNodeDetails)
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width: 70%">                
                <div style="font-size: 130%; border: 1px dashed white; padding: 5px">
                    @foreach (string lsLine in Model.Commit.Message.SplitLines()) {
                        <div>@(new MvcHtmlString(lsLine.ToHtmlWithSpaces()))</div>
                    }
                </div>
                <div style="background-color: #DDDDDD">@Model.Commit.Committer.Name
                &lt;<a href="mailto:@Model.Commit.Committer.EmailAddress">@Model.Commit.Committer.EmailAddress</a>&gt; 
                @(Model.Commit.IsCommittedByAuthor ? "(author)" : "")</div>
                <div style="background-color: #DDDDDD">@Model.Commit.CommitDate</div>
            </td>
            <td style="background-color: #D3F968">
                <div>
                    <i>@Resources.Branch</i>
                    @foreach (var loBranch in Model.Branches)
                    {
                        if (loBranch.CurrentCommit.Hash == Model.Commit.Hash)
                        {
                            <b style="border: 1px solid gray; background-color: red; color: white">@loBranch.Name</b>
                        }
                        else
                        {
                            <b style="border: 1px solid gray; background-color: green; color: white">@loBranch.Name</b>
                        }
                    }
                </div>
                <div>
                    <i>@Resources.Tag</i>
                    @foreach (var loTag in Model.Tags)
                    {
                        <b style="border: 1px solid white; background-color: yellow">@loTag.Name</b>
                    }
                </div>
                <div>
                    <i>@Resources.Commit</i>
                    <a class="hash" href="@Url.Content("~/" + Model.Project + "/commit/" + Model.Commit.Hash + Model.PathSegments.JoinLeft("/"))"
                        title="@Model.Commit.Hash">@Model.Commit.ShortHash</a>
                </div>
                @if (Model.Commit.Ancestors.Any())
                {
                    var loFirstParent = Model.Commit.Ancestors.First();
                    <div>
                        <i>@Resources.Parent</i>
                        <a class="hash" href="@Url.Content("~/" + Model.Project + "/tree/" + loFirstParent.Hash + Model.PathSegments.JoinLeft("/"))"
                                title="@loFirstParent.Hash">
                                @loFirstParent.ShortHash @loFirstParent.CommitDate.ToPrettyDateString()
                        </a>
                    </div>
                }
                <div>
                    Repository Size: ~@Model.RepositorySize
                </div>
            </td>
        </tr>
    </table>
    <h1>@Model.Project@Model.PathSegments.JoinLeft(" / ")</h1>
        
    <div class="hint">@Resources.RightClickToDownload</div>
    <ul id="repositories">
		@foreach (var loDir in Model.Directories)
  {
      var loCommit = Model.WebBrowsingSettings.ShowTreeNodeDetails ? loDir.GetLastCommitBefore(Model.Commit) : null;
			<li>
				<a class="repository" href="@Url.Content("~/" + Model.Project + "/tree/" + Model.TreeName + "/" + Model.PathSegments.JoinRight("/") + loDir.Name)"
                    title="@Url.Content("~/" + Model.Project + "/download/" + Model.TreeName + "/" + Model.PathSegments.JoinRight("/") + loDir.Name)">
					@loDir.Name
					<span class="latest-commit">
                        @loDir.Trees.Count() @Resources.Directories, @loDir.Leaves.Count() @Resources.Files
                        @if (loCommit != null)
                        {
                            @:&nbsp;&nbsp;&nbsp;&nbsp;@loCommit.CommitDate.ToPrettyDateString()
                            @:&nbsp;&nbsp;&nbsp;&nbsp;@loCommit.Message.Shorten(60)
                            @:&nbsp;&nbsp;&nbsp;&nbsp;[@loCommit.Committer.Name]
                        }
                    </span>
				</a>
			</li>
  }
		@foreach (var loFile in Model.Files)
  {
      var loCommit = Model.WebBrowsingSettings.ShowTreeNodeDetails ? loFile.GetLastCommitBefore(Model.Commit) : null;
			<li>
				<a class="repository" href="@Url.Content("~/" + Model.Project + "/blob/" + Model.TreeName + "/" + Model.PathSegments.JoinRight("/") + loFile.Name)"
                    title="@Url.Content("~/" + Model.Project + "/download/" + Model.TreeName + "/" + Model.PathSegments.JoinRight("/") + loFile.Name)">
					@loFile.Name
					<span class="latest-commit">
                        @loFile.Size @Resources.Bytes
                        @if (loCommit != null)
                        {
                            @:&nbsp;&nbsp;&nbsp;&nbsp;@loCommit.CommitDate.ToPrettyDateString()
                            @:&nbsp;&nbsp;&nbsp;&nbsp;@loCommit.Message.Shorten(60)
                            @:&nbsp;&nbsp;&nbsp;&nbsp;[@loCommit.Committer.Name]
                        }
                    </span>
				</a>
			</li>
		}
	</ul>
</div>

<script type="text/javascript">
    $(function () {
        $('a.repository').bind("contextmenu", function () {
            var url = $(this).attr('title');
            location.href = url;
            return false;
        });
    });
</script>