@using GitAspx;
@using GitAspx.ViewModels;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>@ViewBag.Title - GitAspx</title>
	<link rel="Stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />
	<!--[if IE 7]> <style type="text/css">@@import "@Url.Content("~/Content/IE7-override.css")";</style> <![endif]-->
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/jquery.modal.js")"></script>
</head>
<body>
    <div>
        <script type="text/javascript">
            <!-- <![CDATA[
            if (jQuery.browser.msie && parseFloat(jQuery.browser.version) <= 7.0) {
                document.write("<div style='font-size: 20px; color: red; text-align: center; background-color: white'>Please use Internet Explorer at least 8 or fail to use some features!</div>");
            }
            //]]> -->
        </script>
        @RenderBody()
		
        <div id="footer">
			<a href="http://github.com/linquize/git-dot-aspx">Powered by GitAspx @Helpers.Version</a>,
            <a href="http://github.com/linquize/GitSharp">GitSharp @Helpers.GitDllVersion</a>,
            <a href="http://github.com/linquize/GitSharp">GitSharp.Core @Helpers.GitCoreDllVersion</a>
            @{var loModel = Model as WebBrowsingBaseViewModel;}
            @if (loModel != null)
            {
                if (loModel.Repository != null)
                {
                    loModel.Repository.Close();
                }
                @((DateTime.Now - loModel.CtorTime).TotalMilliseconds.ToString("F1") + " ms")
            }
		</div>
        <div style="display: none">
            @Environment.OSVersion, CLR @Environment.Version, 
            @(Environment.Is64BitOperatingSystem ? "64-bit edition" : "32-bit edition"), 
            @(Environment.Is64BitProcess ? "64-bit mode" : "32-bit mode")
        </div>
    </div>
</body>
</html>
